﻿<form asp-controller="Invoice" asp-action="GeneraFac">
    <input hidden id="dateCreateAt" value="@ViewBag.dateCreateAt" />
    <div class="container p-4 border">
        <div class="row pb-2">
            <div class="col">
                <h1 class="text-primary">Facturas</h1>
            </div>
            <div class="row p-0">    
                <div class="col-3 text-end pt-1 offset-2">
                    <a asp-controller="Invoice" asp-action="Index" class="btn-primary btn form-control "><i class="bi bi-box-arrow-left"></i> Regresar a Generar</a>
                  
                </div>
                <div class="col-2 text-end pt-1">
                    <a asp-controller="Invoice" asp-action="" class="btn btn-primary"><i class="bi bi-cloud-arrow-up-fill"></i> Subir</a>
                </div>
            </div>
        </div>
    </div>
</form>
<div>
    <table id="tblList" class="table table-striped table-bordered" style="width:100%">
        <thead class="thead-dark">
            <tr class="table-info">
                <th>Cargado?</th>
                <th>ReferencialInternal</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Monto</th>
                <th>#Factura</th>

            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        // "@Url.Action("MostrarFac","Invoice")"

        var dataTable;
        let dateCreateAt = document.getElementById("dateCreateAt").value;
        $(document).ready(function () {
            dataTable = $('#tblList')
                .DataTable({
                    "ajax": {
                        "url": `/Invoice/MostrarFac?dateCreateAt=${dateCreateAt}`,
                        "type": "GET",
                        "datatype": "json",
                    },
                    "columns": [
                        {
                            "data": "indload",
                       "render": function (data) {
                           if (data == true) {
                               return "Si";
                           }
                           else {
                               return "NO";
                           }
                        }, "width": "5%"
                    },                     
                        { "data": "referenceinternalnumber", "width": "5%" },
                        { "data": 'codigo', "width": "10%" },
                        { "data": 'nombre', "width": "25%" },
                        { "data": 'monto', "className": "dt-body-right", "width": "10%" },
                        { "data": 'numeroFac', "width": "10%" },
                    ],
                    "language": {
                        "lengthMenu": "Mostrar _MENU_ Registros Por Pagina",
                        "zeroRecords": "Ningun Registro",
                        "info": "Mostrar page _PAGE_ de _PAGES_",
                        "infoEmpty": "no hay registros",
                        "infoFiltered": "(filtered from _MAX_ total registros)",
                        "search": "Buscar",
                        "paginate": {
                            "first": "Primero",
                            "last": "Último",
                            "next": "Siguiente",
                            "previous": "Anterior",
                        },
                    },
                    "lengthMenu": [10, 15, 20, 40, 50],
                    "serverSide": false,
                    "processing": true,
                    "searching": false,

                });
        });

    </script>
}