﻿<form asp-controller="Invoice" asp-action="GeneraFac">
    <div class="container p-4 border">
        <div class="row pb-2">
            <div class="col">
                <h1 class="text-primary">Generador de Facturas</h1>
            </div>
            <div class="row p-0">
                <div class="col-2">
                    <label class="control-label pt-2" style="font-size:20px;">Fecha Corte</label>
                </div>
                <div class="col-2 p-1">
                    <input type="date" id="fechaFin" name="fechaFin"
                        min="2023-01-01" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                    <span class="text-danger"></span>
                </div>
                <div class="col-2 text-end pt-1 offset-1">
                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-plus-square-fill"></i> Generar</button>
                </div>
               
@*                <div class="col-2 text-end pt-1 offset-1">
                    <button id="btnRefresh" class="btn btn-secondary ">
                        <i class="bi bi-arrow-clockwise"></i> Refrescar
                    </button>
                </div>

*@
            <div class="col-2 text-end pt-1">
                <a id="btnRefresh" class="btn btn-secondary"><i class="bi bi-arrow-clockwise"></i> Refrescar</a>
            </div>

                <div class="col-2 text-end pt-1">
                    <a asp-controller="Invoice" asp-action="" class="btn btn-primary"><i class="bi bi-cloud-arrow-up-fill"></i> Subir</a>
                </div>
            </div>
        </div>
    </div>
</form>
<div>
    <table id="tblList" class="table table-striped table-bordered" style="width:100%">
        <thead class="thead-dark">
            <tr class="table-info">
               <th>Cargado?</th>
                <th>ReferencialInternal</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Monto</th>
                <th>#Factura</th>
               
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>






@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        let dataTable;
        let fechatransa;

        $(document).ready(function () {

            //Setear por defecto la fecha del dia
            //var fecha = new Date();
            //document.getElementById("fechaFin").value = fecha.toJSON().slice(0, 10);


            //Setear el detapicker de JQUERY
            //$(function () {
            //    $("#fechaFin").datepicker({
            //        dateFormat: 'dd-mm-yy',
            //        //onSelect: function (dateText) {
            //        //    var parts = dateText.split("-");
            //        //    var formattedDate = parts[2] + "-" + parts[1] + "-" + parts[0];
            //        //    $("#fechaFin").val(formattedDate);
            //        //}
            //    });
            //});

            document.getElementById("btnRefresh").onclick = function () {
                fntransaDateChange();
            }

            fnloadDataTableRefresh();
        });

        function fntransaDateChange()
        {
            let trnDate = document.getElementById("fechaFin").value;
            console.log(trnDate);
            dataTable.ajax.url(`/Invoice/Refrescar?fechaFin=${trnDate}`).load();
        }

        //setear data table
        function fnloadDataTableRefresh(){
            fechatransa = document.getElementById("fechaFin").value;
            //if (dataTable) {
            //    dataTable.clear();
            //}
            //interpolacion de javascript url ?fakkjl= fasdfds
            dataTable = $('#tblList')
                .DataTable({
                    "language": {
                        "lengthMenu": "Mostrar _MENU_ Registros Por Pagina",
                        "zeroRecords": "Ningun Registro",
                        "info": "Mostrar page _PAGE_ de _PAGES_",
                        "infoEmpty": "no hay registros",
                        "infoFiltered": "(filtered from _MAX_ total registros)",
                        "search": "Buscar",
                        "paginate": {
                            "first": "Primero",
                            "last": "Último",
                            "next": "Siguiente",
                            "previous": "Anterior",
                        },
                    },
                    "lengthMenu": [15, 20, 40, 50],
                    "ajax": {
                        "url": `/Invoice/Refrescar?fechaFin=${fechatransa}`,
                        error: (e) => {
                            alert(e.responseText)
                        },
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                        {
                            "data": "indload",
                            "render": function (data) {
                                if (data == true) {
                                    return "Si";
                                }
                                else {
                                    return "NO";
                                }
                            }, "width": "5%"
                        },
                        { "data": "referenceinternalnumber", "width": "5%" },
                        { "data": 'codigo', "width": "10%" },
                        { "data": 'nombre', "width": "25%" },
                        { "data": 'monto', "className": "dt-body-right", "width": "10%" },
                        { "data": 'numeroFac', "width": "10%" },
                    ],
                    "serverSide": false,
                    "processing": true,
                    "searching": false
                });
        };
        
                
        

    </script>
}







