﻿@model FactorajeCore.Web.Models.VM.CustomerCreateVM

<form asp-action="CreateCustomer">
    <div class="container border p-3">
        <h1 class="text-primary">Crear Cliente</h1>

        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityCreate.Type" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-1">
                    <select asp-for="EntityCreate.Type" class="form-select" asp-items="@Model.TipoIdentList">
                        <option disabled selected>--Seleccione Tipo Identificacion--</option>
                    </select>
                    <span asp-validation-for="EntityCreate.Type" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <label asp-for="EntityCreate.Code" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-1">
                    <input asp-for="EntityCreate.Code" class="form-control" />
                    <span asp-validation-for="EntityCreate.Code" class="text-danger"></span>
                </div>
            </div>

                <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityCreate.NumberRuc" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-3">
                    <input asp-for="EntityCreate.NumberRuc" class="form-control" value="000000-0000" />
                    <span asp-validation-for="EntityCreate.NumberRuc" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <label asp-for="EntityCreate.NumberCED" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-3">
                    <input asp-for="EntityCreate.NumberCED" class="form-control" value="000-000000-0000X" />
                    <span asp-validation-for="EntityCreate.NumberCED" class="text-danger"></span>
                </div>
            </div>
          

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityCreate.Razon" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-10 pb-3">
                    <input asp-for="EntityCreate.Razon" class="form-control" />
                    <span asp-validation-for="EntityCreate.Razon" class="text-danger"></span>
                </div>
            </div>          

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityCreate.Name" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-10 pb-1">
                    <input asp-for="EntityCreate.Name" class="form-control" />
                    <span asp-validation-for="EntityCreate.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityCreate.IdSegment" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-1">
                    <select asp-for="EntityCreate.IdSegment" class="form-select" asp-items="@Model.SegmentoList">
                        <option disabled selected>--Seleccione tipo de Sector--</option>
                    </select>
                    <span asp-validation-for="EntityCreate.IdSegment" class="text-danger"></span>                 
                </div>
                <div class="col-2">
                    <label asp-for="EntityCreate.Dateadmission" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-4 pb-1">
                   
                    <input asp-for="EntityCreate.Dateadmission" type="date" id="FechaActual"  class="form-control" />
                    <span asp-validation-for="EntityCreate.Dateadmission" class="text-danger"></span>
                </div>
            </div>
            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityCreate.Phone1" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-1">
                    <input asp-for="EntityCreate.Phone1" class="form-control" />
                    <span asp-validation-for="EntityCreate.Phone1" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <label asp-for="EntityCreate.Phone2" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-1">
                    <input asp-for="EntityCreate.Phone2" class="form-control" value="0000-0000" />
                    <span asp-validation-for="EntityCreate.Phone2" class="text-danger"></span>
                </div>
            </div>

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityCreate.Fax1" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-1">
                    <input asp-for="EntityCreate.Fax1" class="form-control" />
                    <span asp-validation-for="EntityCreate.Fax1" class="text-danger"></span>
                </div>

                <div class="col-2">
                    <label asp-for="EntityCreate.Email" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-1">
                    <input asp-for="EntityCreate.Email" class="form-control" />
                    <span asp-validation-for="EntityCreate.Email" class="text-danger"></span>
                </div>
            </div>

           
            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityCreate.IdAgent" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-3">
                    <select asp-for="EntityCreate.IdAgent" class="form-select" asp-items="@Model.EjecutivoVentaList">
                        <option disabled selected>--Seleccione Agente--</option>
                    </select>
                    <span asp-validation-for="EntityCreate.IdAgent" class="text-danger"></span>
                </div>


                <div class="col-2">
                    <label asp-for="EntityCreate.IdCollectionAgent" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-3">
                    <select asp-for="EntityCreate.IdCollectionAgent" class="form-select" asp-items="@Model.EjecutivoCobroList">
                        <option disabled selected>--Seleccione Agente--</option>
                    </select>
                    <span asp-validation-for="EntityCreate.IdCollectionAgent" class="text-danger"></span>
                </div>
            </div>

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityCreate.Address" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-10 pb-3">
                    <textarea asp-for="EntityCreate.Address" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="EntityCreate.Address" class="text-danger"></span>
                </div>
            </div>


           @* <div class="col-4 offset-2">
                <input type="submit"  value="Crear" class="btn btn-success form-control " />
            </div>
            <div class="col-4 offset-1">
                <a asp-controller="Customer" asp-action="Index" class="btn-primary btn form-control"><i class="bi bi-box-arrow-left"></i>  Regresar</a>
            </div>*@

            <div class="form-group row">
                <div class="col offset-1">
                 
                        <partial name="_BotonesCrearYRegresar"></partial>
                       
                    
                </div>
            </div>
           

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityCreate.Observations" class="control-label pt-2" style="font-size:20px;" hidden></label>
                </div>
                <div class="col-10 pb-3">
                     <input asp-for="EntityCreate.Observations" value="." class="form-control" row="5" type="text" hidden >
                   @* <textarea asp-for="EntityCreate.Observations" value="." class="form-control" rows="5" ></textarea>*@
                    <span asp-validation-for="EntityCreate.Observations" class="text-danger" hidden></span>
                </div>
            </div>

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityCreate.PrincipalBalance" class="control-label pt-2" style="font-size:20px;" hidden></label>
                </div>
                <div class="col-4 pb-3">
                    <input asp-for="EntityCreate.PrincipalBalance" value="0.00" class="form-control" hidden/>
                    <span asp-validation-for="EntityCreate.PrincipalBalance" class="text-danger" hidden></span>
                </div>

                <div class="col-2">
                    <label asp-for="EntityCreate.CreditLimit" class="control-label pt-2" style="font-size:20px;" hidden></label>
                </div>
                <div class="col-4 pb-3">
                    <input asp-for="EntityCreate.CreditLimit" value="0.00" class="form-control" hidden/>
                    <span asp-validation-for="EntityCreate.CreditLimit" class="text-danger" hidden></span>
                </div>

                <div class="col-2">
                    <label asp-for="EntityCreate.ArrearsBalance" class="control-label pt-2" style="font-size:20px;" hidden></label>
                </div>
                <div class="col-4 pb-3">
                    <input asp-for="EntityCreate.ArrearsBalance" value="0.00" class="form-control"  hidden/>
                    <span asp-validation-for="EntityCreate.ArrearsBalance" class="text-danger" hidden></span>
                </div>
            </div>

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityCreate.CurrentInterest" class="control-label pt-2" style="font-size:20px;" hidden></label>
                </div>
                <div class="col-4 pb-3">
                    <input asp-for="EntityCreate.CurrentInterest" value="0.00" class="form-control" hidden/>
                    <span asp-validation-for="EntityCreate.CurrentInterest" class="text-danger" hidden></span>
                </div>

                <div class="col-2">
                    <label asp-for="EntityCreate.MoratoriumInterest" class="control-label pt-2" style="font-size:20px;" hidden></label>
                </div>
                <div class="col-4 pb-3">
                    <input asp-for="EntityCreate.MoratoriumInterest" value="0.00" class="form-control" hidden/>
                    <span asp-validation-for="EntityCreate.MoratoriumInterest" class="text-danger" hidden></span>
                </div>
            </div>

            

            <div class="col-12 p-0">
                <label asp-for="EntityCreate.TypeCustomer" class="control-label pt-1" style="font-size:20px; " hidden></label>

                <div class="form-check form-check-inline ">
                    <input asp-for="EntityCreate.TypeCustomer" class="form-check-input offset-md-4" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1" checked, hidden>
                    <label class="form-check-label" for="inlineRadio1"hidden>Excelente</label>
                </div>
            </div>

            <div class="col-2 p-0">

                <label asp-for="EntityCreate.Active" class="control-label pt-1" style="font-size:20px;" hidden></label>

                <div class="form-check form-check-inline">
                    <input asp-for="EntityCreate.Active" class="form-check-input offset-md-4" type="radio" value="A" id="defaultCheck1" checked hidden>
                    <label class="form-check-label" for="defaultCheck1" hidden>
                        Activo
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="EntityCreate.Active" class="form-check-input offset-md" type="radio" value="I" id="defaultCheck2" disabled hidden>
                    <label class="form-check-label" for="defaultCheck2" hidden>
                        Inactivo
                    </label>
                </div>
            </div>

       
        </div>
    </div>

</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(document).ready(function () {
            var fecha = new Date();
            document.getElementById("FechaActual").value = fecha.toJSON().slice(0, 10);
        });
    </script>
}