﻿@model FactorajeCore.Web.Models.VM.CustomerDeleteVM

<form asp-action="DeleteCustomer">
   
    <div class="container border p-3">

        <h1 class="text-primary">Borrar Cliente</h1>
        <div class="row">
            <input asp-for="EntityDelete.Code" hidden />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="row p-0">
                <div class="col-2">
                    <label  asp-for="EntityDelete.Code" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-1">
                    <input asp-for="EntityDelete.Code" disabled class="form-control" />
                    <span  asp-validation-for="EntityDelete.Code" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <label asp-for="EntityDelete.Type" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-4 pb-1">
                    <select asp-for="EntityDelete.Type" disabled class="form-select" asp-items="@Model.TipoIdentList">
                        <option disabled selected>--Seleccione Tipo Identificacion--</option>
                    </select>
                    <span asp-validation-for="EntityDelete.Type" class="text-danger"></span>
                </div>
            </div>

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityDelete.NumberRuc" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-3">
                    <input asp-for="EntityDelete.NumberRuc" disabled class="form-control" />
                    <span asp-validation-for="EntityDelete.NumberRuc" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <label asp-for="EntityDelete.NumberCED" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-4 pb-3">
                    <input asp-for="EntityDelete.NumberCED" disabled class="form-control" />
                    <span asp-validation-for="EntityDelete.NumberCED" class="text-danger"></span>
                </div>
            </div>


            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityDelete.Razon" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-10 pb-3">
                    <input asp-for="EntityDelete.Razon" disabled class="form-control" />
                    <span asp-validation-for="EntityDelete.Razon" class="text-danger"></span>
                </div>
            </div>

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityDelete.Name" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-10 pb-1">
                    <input asp-for="EntityDelete.Name" disabled class="form-control" />
                    <span asp-validation-for="EntityDelete.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityDelete.IdSegment" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-1">
                    <select asp-for="EntityDelete.IdSegment" disabled class="form-select" asp-items="@Model.SegmentoList">
                        <option disabled selected>--Seleccione tipo de Sector--</option>
                    </select>
                    <span asp-validation-for="EntityDelete.IdSegment" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <label asp-for="EntityDelete.Dateadmission" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-4 pb-1">

                    <input asp-for="EntityDelete.Dateadmission" type="date" id="FechaActual" disabled class="form-control" />
                    <span asp-validation-for="EntityDelete.Dateadmission" class="text-danger"></span>
                </div>
            </div>
            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityDelete.Phone1" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-1">
                    <input asp-for="EntityDelete.Phone1" disabled class="form-control" />
                    <span asp-validation-for="EntityDelete.Phone1" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <label asp-for="EntityDelete.Phone2" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-1">
                    <input asp-for="EntityDelete.Phone2" disabled class="form-control"/>
                    <span asp-validation-for="EntityDelete.Phone2" class="text-danger"></span>
                </div>
            </div>

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityDelete.Fax1" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-1">
                    <input asp-for="EntityDelete.Fax1" disabled class="form-control" />
                    <span asp-validation-for="EntityDelete.Fax1" class="text-danger"></span>
                </div>

                <div class="col-2">
                    <label asp-for="EntityDelete.Email" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-1">
                    <input asp-for="EntityDelete.Email" disabled class="form-control" />
                    <span asp-validation-for="EntityDelete.Email" class="text-danger"></span>
                </div>
            </div>


            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityDelete.IdAgent" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-3">
                    <select asp-for="EntityDelete.IdAgent" disabled class="form-select" asp-items="@Model.EjecutivoVentaList">
                        <option disabled selected>--Seleccione Agente--</option>
                    </select>
                    <span asp-validation-for="EntityDelete.IdAgent" class="text-danger"></span>
                </div>


                <div class="col-2">
                    <label asp-for="EntityDelete.IdCollectionAgent" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-3">
                    <select asp-for="EntityDelete.IdCollectionAgent" disabled class="form-select" asp-items="@Model.EjecutivoCobroList">
                        <option disabled selected>--Seleccione Agente--</option>
                    </select>
                    <span asp-validation-for="EntityDelete.IdCollectionAgent" class="text-danger"></span>
                </div>
            </div>

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityDelete.Address" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-10 pb-3">
                    <textarea asp-for="EntityDelete.Address" disabled class="form-control" rows="3"></textarea>
                    <span asp-validation-for="EntityDelete.Address" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-8 offset-2">
                    @if (Model.EntityDelete.Code != null)
                    {

                        <partial name="_BotonesBorrarYRegresar" model="Model.EntityDelete.Code"></partial>
                    }

                </div>
            </div>

            @*  <div class="col-5 offset-2">
            <a asp-controller="Customer" asp-action="Index" class="btn-primary btn form-control ">Regresar</a>
            </div>
            <div class="col-5">
            <input type="submit" value="Actualizar" class="btn btn-success form-control" />
            </div>*@



            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityDelete.Observations" class="control-label pt-2" style="font-size:20px;" hidden></label>
                </div>
                <div class="col-10 pb-3">
                    <input asp-for="EntityDelete.Observations"  class="form-control" row="5" type="text" hidden>
                    @* <textarea asp-for="EntityCreate.Observations" value="." class="form-control" rows="5" ></textarea>*@
                    <span asp-validation-for="EntityDelete.Observations" class="text-danger" hidden></span>
                </div>
            </div>

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityDelete.PrincipalBalance" class="control-label pt-2" style="font-size:20px;" hidden></label>
                </div>
                <div class="col-4 pb-3">
                    <input asp-for="EntityDelete.PrincipalBalance"  class="form-control" hidden />
                    <span asp-validation-for="EntityDelete.PrincipalBalance" class="text-danger" hidden></span>
                </div>

                <div class="col-2">
                    <label asp-for="EntityDelete.CreditLimit" class="control-label pt-2" style="font-size:20px;" hidden></label>
                </div>
                <div class="col-4 pb-3">
                    <input asp-for="EntityDelete.CreditLimit"  class="form-control" hidden />
                    <span asp-validation-for="EntityDelete.CreditLimit" class="text-danger" hidden></span>
                </div>

                <div class="col-2">
                    <label asp-for="EntityDelete.ArrearsBalance" class="control-label pt-2" style="font-size:20px;" hidden></label>
                </div>
                <div class="col-4 pb-3">
                    <input asp-for="EntityDelete.ArrearsBalance"  class="form-control" hidden />
                    <span asp-validation-for="EntityDelete.ArrearsBalance" class="text-danger" hidden></span>
                </div>
            </div>

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityDelete.CurrentInterest" class="control-label pt-2" style="font-size:20px;" hidden></label>
                </div>
                <div class="col-4 pb-3">
                    <input asp-for="EntityDelete.CurrentInterest"  class="form-control" hidden />
                    <span asp-validation-for="EntityDelete.CurrentInterest" class="text-danger" hidden></span>
                </div>

                <div class="col-2">
                    <label asp-for="EntityDelete.MoratoriumInterest" class="control-label pt-2" style="font-size:20px;" hidden></label>
                </div>
                <div class="col-4 pb-3">
                    <input asp-for="EntityDelete.MoratoriumInterest"  class="form-control" hidden />
                    <span asp-validation-for="EntityDelete.MoratoriumInterest" class="text-danger" hidden></span>
                </div>
            </div>



         

           


        </div>
    </div>
</form>


