﻿@model FactorajeCore.Web.Models.VM.customerDetailsVM

<form asp-action="DeleteCustomer">
    <div class="container border p-3">
        <h1 class="text-primary">Detalle Cliente</h1>
        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityDetail.Active" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-1">
                    <input asp-for="EntityDetail.Active" disabled class="form-control" />
                    <span asp-validation-for="EntityDetail.Active" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <label asp-for="EntityDetail.Type" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-4 pb-1">
                    <select asp-for="EntityDetail.Type" disabled class="form-select" asp-items="@Model.TipoIdentList">
                        <option disabled selected>--Seleccione Tipo Identificacion--</option>
                    </select>
                    <span asp-validation-for="EntityDetail.Type" class="text-danger"></span>
                </div>
            </div>

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityDetail.NumberRuc" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-3">
                    <input asp-for="EntityDetail.NumberRuc" disabled class="form-control" />
                    <span asp-validation-for="EntityDetail.NumberRuc" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <label asp-for="EntityDetail.NumberCED" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-4 pb-3">
                    <input asp-for="EntityDetail.NumberCED" disabled class="form-control" />
                    <span asp-validation-for="EntityDetail.NumberCED" class="text-danger"></span>
                </div>
            </div>


            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityDetail.Razon" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-10 pb-3">
                    <input asp-for="EntityDetail.Razon" disabled class="form-control" />
                    <span asp-validation-for="EntityDetail.Razon" class="text-danger"></span>
                </div>
            </div>

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityDetail.Name" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-10 pb-1">
                    <input asp-for="EntityDetail.Name" disabled class="form-control" />
                    <span asp-validation-for="EntityDetail.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityDetail.IdSegment" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-1">
                    <select asp-for="EntityDetail.IdSegment" disabled class="form-select" asp-items="@Model.SegmentoList">
                        <option disabled selected>--Seleccione tipo de Sector--</option>
                    </select>
                    <span asp-validation-for="EntityDetail.IdSegment" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <label asp-for="EntityDetail.Dateadmission" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-4 pb-1">

                    <input asp-for="EntityDetail.Dateadmission" type="date" id="FechaActual" disabled class="form-control" />
                    <span asp-validation-for="EntityDetail.Dateadmission" class="text-danger"></span>
                </div>
            </div>
            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityDetail.Phone1" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-1">
                    <input asp-for="EntityDetail.Phone1" disabled class="form-control" />
                    <span asp-validation-for="EntityDetail.Phone1" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <label asp-for="EntityDetail.Phone2" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-1">
                    <input asp-for="EntityDetail.Phone2" disabled class="form-control" />
                    <span asp-validation-for="EntityDetail.Phone2" class="text-danger"></span>
                </div>
            </div>

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityDetail.Fax1" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-1">
                    <input asp-for="EntityDetail.Fax1" disabled class="form-control" />
                    <span asp-validation-for="EntityDetail.Fax1" class="text-danger"></span>
                </div>

                <div class="col-2">
                    <label asp-for="EntityDetail.Email" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-1">
                    <input asp-for="EntityDetail.Email" disabled class="form-control" />
                    <span asp-validation-for="EntityDetail.Email" class="text-danger"></span>
                </div>
            </div>


            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityDetail.IdAgent" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-3">
                    <select asp-for="EntityDetail.IdAgent" disabled class="form-select" asp-items="@Model.EjecutivoVentaList">
                        <option disabled selected>--Seleccione Agente--</option>
                    </select>
                    <span asp-validation-for="EntityDetail.IdAgent" class="text-danger"></span>
                </div>


                <div class="col-2">
                    <label asp-for="EntityDetail.IdCollectionAgent" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-3">
                    <select asp-for="EntityDetail.IdCollectionAgent" disabled class="form-select" asp-items="@Model.EjecutivoCobroList">
                        <option disabled selected>--Seleccione Agente--</option>
                    </select>
                    <span asp-validation-for="EntityDetail.IdCollectionAgent" class="text-danger"></span>
                </div>
            </div>

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityDetail.Address" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-10 pb-3">
                    <textarea asp-for="EntityDetail.Address" disabled class="form-control" rows="3"></textarea>
                    <span asp-validation-for="EntityDetail.Address" class="text-danger"></span>
                </div>
            </div>

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityDetail.Observations" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-10 pb-3">
                    <textarea asp-for="EntityDetail.Observations" disabled class="form-control" rows="3"></textarea>
                    <span asp-validation-for="EntityDetail.Observations" class="text-danger"></span>
                </div>
            </div>

              <div class="col-5 offset-2">
                <a asp-controller="Customer" asp-action="Index" class="btn-primary btn form-control"><i class="bi bi-box-arrow-left"></i>  Regresar</a>
            </div>


            <div class="col-2">
                <label asp-for="EntityDetail.Code" class="control-label pt-2" style="font-size:20px;" hidden></label>
            </div>
            <div class="col-3 pb-1">
                <input asp-for="EntityDetail.Code" disabled class="form-control" hidden />
                <span asp-validation-for="EntityDetail.Code" class="text-danger"></span>
            </div>

        

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityDetail.PrincipalBalance" class="control-label pt-2" style="font-size:20px;" hidden></label>
                </div>
                <div class="col-4 pb-3">
                    <input asp-for="EntityDetail.PrincipalBalance" class="form-control" hidden />
                    <span asp-validation-for="EntityDetail.PrincipalBalance" class="text-danger" hidden></span>
                </div>

                <div class="col-2">
                    <label asp-for="EntityDetail.CreditLimit" class="control-label pt-2" style="font-size:20px;" hidden></label>
                </div>
                <div class="col-4 pb-3">
                    <input asp-for="EntityDetail.CreditLimit" class="form-control" hidden />
                    <span asp-validation-for="EntityDetail.CreditLimit" class="text-danger" hidden></span>
                </div>

                <div class="col-2">
                    <label asp-for="EntityDetail.ArrearsBalance" class="control-label pt-2" style="font-size:20px;" hidden></label>
                </div>
                <div class="col-4 pb-3">
                    <input asp-for="EntityDetail.ArrearsBalance" class="form-control" hidden />
                    <span asp-validation-for="EntityDetail.ArrearsBalance" class="text-danger" hidden></span>
                </div>
            </div>

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityDetail.CurrentInterest" class="control-label pt-2" style="font-size:20px;" hidden></label>
                </div>
                <div class="col-4 pb-3">
                    <input asp-for="EntityDetail.CurrentInterest" class="form-control" hidden />
                    <span asp-validation-for="EntityDetail.CurrentInterest" class="text-danger" hidden></span>
                </div>

                <div class="col-2">
                    <label asp-for="EntityDetail.MoratoriumInterest" class="control-label pt-2" style="font-size:20px;" hidden></label>
                </div>
                <div class="col-4 pb-3">
                    <input asp-for="EntityDetail.MoratoriumInterest" class="form-control" hidden />
                    <span asp-validation-for="EntityDetail.MoratoriumInterest" class="text-danger" hidden></span>
                </div>
            </div>








        </div>
    </div>
</form>



