﻿@*@model List<FactorajeCore.Web.Models.VM.CustomerIndexVM>*@

<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Listado de Clientes</h1>
        </div>
        <div  class="col text-end pt-1">
            <a asp-controller="Customer" asp-action="CreateCustomer" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Crear Cliente</a>
        </div>
    </div>
    <div>
        <table id="tblList" class="table table-striped table-bordered" style="width:100%">
            <thead class="thead-dark">
                <tr class="table-info">
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Identificacion</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@*  <a onclick=Delete("/Customer/DeleteCustomer?code =${data}") class="btn btn-danger btn-sm text-white" style="cursor:pointer">*@
@*
@section Scripts {
    <script type="text/javascript" src="~/js/customer.js"></script>
}*@


@section scripts{
        <script>

    var dataTable;

    $(document).ready(function () {
        dataTable = $('#tblList')
            .DataTable({
                "ajax": {
                    "url": "@Url.Action("GetAllData","Customer")",
                    //"dataSrc": "",
                    "type": "GET",
                    "datatype": "json",
                },
                "columns": [
                    { "data": 'code', "width": "10%" },
                    { "data": 'razon', "width": "25%" },
                    { "data": 'numberidentity', "width": "20%" },
                    { "data": 'email', "width": "25%" },
                        {
                            "data": 'code',
                            "render": function (data) {
                                return `
                                <div class="text-center">
                                        <div row>
                                     <a href="/Customer/UpdateCustomer?code=${data}" class="btn btn-success btn-sm text-white" form-check-inline style="cursor:pointer">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="/Customer/DeleteCustomer?code=${data}" class="btn btn-danger btn-sm text-white" form-check-inline style="cursor:pointer">                                     
                                        <i class="fas fa-trash"></i>
                                    </a>
                                    <a href="/Customer/DetailCustomer?code=${data}" class="btn btn-primary btn-sm text-white" form-check-inline style="cursor:pointer">
                                            <i class="fa fa-list-alt"></i>
                                    </a>
                                      </div>
                                </div>
                                `;
                            }, "width": "20%"
                        }
                ],
                "language": {
                    "lengthMenu": "Mostrar _MENU_ Registros Por Pagina",
                    "zeroRecords": "Ningun Registro",
                    "info": "Mostrar page _PAGE_ de _PAGES_",
                    "infoEmpty": "no hay registros",
                    "infoFiltered": "(filtered from _MAX_ total registros)",
                    "search": "Buscar",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior",
                    },
                },
                "lengthMenu": [10, 15, 20, 40, 50],
                "serverSide": false,
                "processing": true,
                "searching": false,

            });
    });



        //function Delete(Url) {
        //    swal({
        //        title: "Esta seguro que desea eliminar este cliente?",
        //        text: "Este regsitro no se podra recuperar",
        //        icon: "warning",
        //        buttons: true,
        //        dangerMode: true
        //    }).then((borrar) => {
        //        if (borrar) {
        //            $.ajax({
        //                type: "DELETE",
        //                url: Url,
        //                success: function (data) {
        //                    if (data.success) {
        //                        toastr.success(data.message);
        //                        dataTable.ajax.reload();
        //                    }
        //                    else {
        //                        toasr.error(data.message);
        //                    }
        //                }
        //            });
        //        }
        //    });
        //}
        </script>


       }   