﻿@model FactorajeCore.Web.Models.VM.CustomerUpdateVM

<form asp-action="UpdateCustomer">
    <div class="container border p-3">
        <h1 class="text-primary">Actualizar Cliente</h1>
        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>
           
            <div class="row p-0">
                <div class="col-2">
                    <label hidden asp-for="EntityUpdate.Code" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-1">
                    <input hidden asp-for="EntityUpdate.Code" class="form-control" />
                    <span hidden asp-validation-for="EntityUpdate.Code" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <label asp-for="EntityUpdate.Type" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-4 pb-1">
                    <select asp-for="EntityUpdate.Type" class="form-select" asp-items="@Model.TipoIdentList">
                        <option disabled selected>--Seleccione Tipo Identificacion--</option>
                    </select>
                    <span asp-validation-for="EntityUpdate.Type" class="text-danger"></span>
                </div>
            </div>

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityUpdate.NumberRuc" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-3">
                    <input asp-for="EntityUpdate.NumberRuc" class="form-control" value="000000-0000" />
                    <span asp-validation-for="EntityUpdate.NumberRuc" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <label asp-for="EntityUpdate.NumberCED" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-4 pb-3">
                    <input asp-for="EntityUpdate.NumberCED" class="form-control" value="000-000000-0000X" />
                    <span asp-validation-for="EntityUpdate.NumberCED" class="text-danger"></span>
                </div>
            </div>


            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityUpdate.Razon" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-10 pb-3">
                    <input asp-for="EntityUpdate.Razon" class="form-control" />
                    <span asp-validation-for="EntityUpdate.Razon" class="text-danger"></span>
                </div>
            </div>

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityUpdate.Name" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-10 pb-1">
                    <input asp-for="EntityUpdate.Name" class="form-control" />
                    <span asp-validation-for="EntityUpdate.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityUpdate.IdSegment" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-1">
                    <select asp-for="EntityUpdate.IdSegment" class="form-select" asp-items="@Model.SegmentoList">
                        <option disabled selected>--Seleccione tipo de Sector--</option>
                    </select>
                    <span asp-validation-for="EntityUpdate.IdSegment" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <label asp-for="EntityUpdate.Dateadmission" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-4 pb-1">

                    <input asp-for="EntityUpdate.Dateadmission" type="date" id="FechaActual" class="form-control" />
                    <span asp-validation-for="EntityUpdate.Dateadmission" class="text-danger"></span>
                </div>
            </div>
            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityUpdate.Phone1" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-1">
                    <input asp-for="EntityUpdate.Phone1" class="form-control" />
                    <span asp-validation-for="EntityUpdate.Phone1" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <label asp-for="EntityUpdate.Phone2" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-1">
                    <input asp-for="EntityUpdate.Phone2" class="form-control" value="0000-0000" />
                    <span asp-validation-for="EntityUpdate.Phone2" class="text-danger"></span>
                </div>
            </div>

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityUpdate.Fax1" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-1">
                    <input asp-for="EntityUpdate.Fax1" class="form-control" />
                    <span asp-validation-for="EntityUpdate.Fax1" class="text-danger"></span>
                </div>

                <div class="col-2">
                    <label asp-for="EntityUpdate.Email" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-1">
                    <input asp-for="EntityUpdate.Email" class="form-control" />
                    <span asp-validation-for="EntityUpdate.Email" class="text-danger"></span>
                </div>
            </div>


            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityUpdate.IdAgent" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-3">
                    <select asp-for="EntityUpdate.IdAgent" class="form-select" asp-items="@Model.EjecutivoVentaList">
                        <option disabled selected>--Seleccione Agente--</option>
                    </select>
                    <span asp-validation-for="EntityUpdate.IdAgent" class="text-danger"></span>
                </div>


                <div class="col-2">
                    <label asp-for="EntityUpdate.IdCollectionAgent" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-3 pb-3">
                    <select asp-for="EntityUpdate.IdCollectionAgent" class="form-select" asp-items="@Model.EjecutivoCobroList">
                        <option disabled selected>--Seleccione Agente--</option>
                    </select>
                    <span asp-validation-for="EntityUpdate.IdCollectionAgent" class="text-danger"></span>
                </div>
            </div>

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityUpdate.Address" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-10 pb-3">
                    <textarea asp-for="EntityUpdate.Address" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="EntityUpdate.Address" class="text-danger"></span>
                </div>
            </div>

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityUpdate.Observations" class="control-label pt-2" style="font-size:20px;"></label>
                </div>
                <div class="col-10 pb-3">
                   
                     <textarea asp-for="EntityUpdate.Observations"  class="form-control" rows="3" ></textarea>
                    <span asp-validation-for="EntityUpdate.Observations" class="text-danger" ></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-8 offset-2">
                    @if (Model.EntityUpdate.Code != null)
                    {
                        <partial name="_BotonesActualizarYRegresar" model="Model.EntityUpdate.Code"></partial>
                    }
                  
                </div>
            </div>

          @*  <div class="col-5 offset-2">
                <a asp-controller="Customer" asp-action="Index" class="btn-primary btn form-control ">Regresar</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Actualizar" class="btn btn-success form-control" />
            </div>*@



            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityUpdate.Observations" class="control-label pt-2" style="font-size:20px;" hidden></label>
                </div>
                <div class="col-10 pb-3">
                    <input asp-for="EntityUpdate.Observations" value="." class="form-control" row="5" type="text" hidden>
                    @* <textarea asp-for="EntityCreate.Observations" value="." class="form-control" rows="5" ></textarea>*@
                    <span asp-validation-for="EntityUpdate.Observations" class="text-danger" hidden></span>
                </div>
            </div>

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityUpdate.PrincipalBalance" class="control-label pt-2" style="font-size:20px;" hidden></label>
                </div>
                <div class="col-4 pb-3">
                    <input asp-for="EntityUpdate.PrincipalBalance" value="0.00" class="form-control" hidden />
                    <span asp-validation-for="EntityUpdate.PrincipalBalance" class="text-danger" hidden></span>
                </div>

                <div class="col-2">
                    <label asp-for="EntityUpdate.CreditLimit" class="control-label pt-2" style="font-size:20px;" hidden></label>
                </div>
                <div class="col-4 pb-3">
                    <input asp-for="EntityUpdate.CreditLimit" value="0.00" class="form-control" hidden />
                    <span asp-validation-for="EntityUpdate.CreditLimit" class="text-danger" hidden></span>
                </div>

                <div class="col-2">
                    <label asp-for="EntityUpdate.ArrearsBalance" class="control-label pt-2" style="font-size:20px;" hidden></label>
                </div>
                <div class="col-4 pb-3">
                    <input asp-for="EntityUpdate.ArrearsBalance" value="0.00" class="form-control" hidden />
                    <span asp-validation-for="EntityUpdate.ArrearsBalance" class="text-danger" hidden></span>
                </div>
            </div>

            <div class="row p-0">
                <div class="col-2">
                    <label asp-for="EntityUpdate.CurrentInterest" class="control-label pt-2" style="font-size:20px;" hidden></label>
                </div>
                <div class="col-4 pb-3">
                    <input asp-for="EntityUpdate.CurrentInterest" value="0.00" class="form-control" hidden />
                    <span asp-validation-for="EntityUpdate.CurrentInterest" class="text-danger" hidden></span>
                </div>

                <div class="col-2">
                    <label asp-for="EntityUpdate.MoratoriumInterest" class="control-label pt-2" style="font-size:20px;" hidden></label>
                </div>
                <div class="col-4 pb-3">
                    <input asp-for="EntityUpdate.MoratoriumInterest" value="0.00" class="form-control" hidden />
                    <span asp-validation-for="EntityUpdate.MoratoriumInterest" class="text-danger" hidden></span>
                </div>
            </div>



            <div class="col-12 p-0">
                <label asp-for="EntityUpdate.TypeCustomer" class="control-label pt-1" style="font-size:20px; " hidden></label>

                <div class="form-check form-check-inline ">
                    <input asp-for="EntityUpdate.TypeCustomer" class="form-check-input offset-md-4" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1" checked, hidden>
                    <label class="form-check-label" for="inlineRadio1" hidden>Excelente</label>
                </div>
            </div>

            <div class="col-2 p-0">

                <label asp-for="EntityUpdate.Active" class="control-label pt-1" style="font-size:20px;" hidden></label>

                <div class="form-check form-check-inline">
                    <input asp-for="EntityUpdate.Active" class="form-check-input offset-md-4" type="radio" value="A" id="defaultCheck1" checked hidden>
                    <label class="form-check-label" for="defaultCheck1" hidden>
                        Activo
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="EntityUpdate.Active" class="form-check-input offset-md" type="radio" value="I" id="defaultCheck2" disabled hidden>
                    <label class="form-check-label" for="defaultCheck2" hidden>
                        Inactivo
                    </label>
                </div>
            </div>


        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
