﻿@model List<FactorajeCore.Web.Models.Dtos.ExchangeRateDto>

<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Tipo de Cambio</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="ExchangeRate" asp-action="CreateExchange" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Crear Tipo De cambio</a>
        </div>
    </div>
    <table id="tblExchange" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Moneda</th>
                <th>Fecha</th>
                <th>Cambio oficial</th>
                <th></th>
            </tr>
        </thead>

    </table>
</div>

@section scripts{
    <script>

        var dataTable;

        $(document).ready(function () {
            dataTable = $('#tblExchange')
                .DataTable({
                    "ajax": {
                        "url": "@Url.Action("GetAllData","ExchangeRate")",
                        //"dataSrc": "",
                        "type": "GET",
                        "datatype": "json",
                    },
                    "columns": [
                        { "data": 'currencyCode', "width": "10%" },
                        { "data": 'dateTrx', "width": "25%" },
                        { "data": 'officialRate', "width": "25%" },
                        {
                            "data": 'dateTrx',
                            "render": function (data) {
                                return `
                                        <div class="text-center">
                                                <div row>
                                                        <a href="/ExchangeRate/UpdateExchange?dateTrx=${data}" class="btn btn-success btn-sm text-white" form-check-inline style="cursor:pointer">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                                        <a onclick=Delete("/Customer/DeleteExchange?dateTrx=${data}") class="btn btn-danger btn-sm text-white" style="cursor:pointer">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                                    </div>
                                        </div>
                                        `;
                            }, "width": "20%"
                        }
                    ],
                    "language": {
                        "lengthMenu": "Mostrar _MENU_ Registros Por Pagina",
                        "zeroRecords": "Ningun Registro",
                        "info": "Mostrar page _PAGE_ de _PAGES_",
                        "infoEmpty": "no hay registros",
                        "infoFiltered": "(filtered from _MAX_ total registros)",
                        "search": "Buscar",
                        "paginate": {
                            "first": "Primero",
                            "last": "Último",
                            "next": "Siguiente",
                            "previous": "Anterior",
                        },
                    },
                    "lengthMenu": [10, 15, 20, 40, 50],
                    "serverSide": false,
                    "processing": true,
                    "searching": false,

                });
        });

        //function Delete(Url) {
        //    swal({
        //        title: "Esta seguro que desea eliminar este cliente?",
        //        text: "Este regsitro no se podra recuperar",
        //        icon: "warning",
        //        buttons: true,
        //        dangerMode: true
        //    }).then((borrar) => {
        //        if (borrar) {
        //            $.ajax({
        //                type: "DELETE",
        //                url: Url,
        //                success: function (data) {
        //                    if (data.success) {
        //                        toastr.success(data.message);
        //                        dataTable.ajax.reload();
        //                    }
        //                    else {
        //                        toasr.error(data.message);
        //                    }
        //                }
        //            });
        //        }
        //    });
        //}
    </script>


       }   