﻿@model FactorajeCore.Web.Models.Dtos.ExchangeRateDtoUpdate
<form action="UpdateExchange"></form>

<div class="container border p-3">
    <h1 class="text-primary">Crear Tipo de cambio</h1>
    <div class="row">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row p-0">
            <div class="col-2">
                <label asp-for="currencyCode" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-3 pb-1">
                <input asp-for="currencyCode" class="form-control" />
                <span asp-validation-for="currencyCode" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="currencyCode" class="control-label pt-2" style="font-size:20px;"></label>
            </div>

        </div>
    </div>
</div>
