﻿@model string

<div class="row">

    <div class="col">
        <button type="submit" class="btn btn-success form-control" asp-route-Code="@Model"> <i class="bi bi-pencil-square"></i>   Actualizar</button>
    </div>
    <div class="col">
        <a asp-action="Index" class="btn btn-primary form-control"><i class="bi bi-box-arrow-left"></i>   Regresar</a>
    </div>
</div>
