﻿@model string

<div class="row">

    <div class="col">
        <button type="submit" class="btn btn-success form-control" asp-route-Code="@Model"><i class="fas fa-trash"></i>  Eliminar</button>
    </div>
    <div class="col">
        <a asp-action="Index" class="btn btn-primary form-control"><i class="bi bi-box-arrow-left"></i>  Regresar</a>
    </div>
</div>

@section script{

    <script>

        function Delete(Url) {
               swal({
                   title: "Esta seguro que desea eliminar este cliente?",
                   text: "Este regsitro no se podra recuperar",
                   icon: "warning",
                   buttons: true,
                   dangerMode: true
               }).then((borrar) => {
                   if (borrar) {
                       $.ajax({
                           type: "DELETE",
                           url: Url,
                           success: function (model) {
                               if (model.success) {
                                   toastr.success(model.message);
                                   dataTable.ajax.reload();
                               }
                               else {
                                   toasr.error(model.message);
                               }
                           }
                       });
                   }
               });
           }
    </script>
}