﻿<div class="row">

    @*<div class="col">
        <button type="submit" class="btn btn-success form-control"><i class="fas fa-trash"></i> Crear</button>
    </div>*@

    <div class="col-4 offset-2">
        <button type="submit" class="btn btn-success form-control"><i class="bi bi-plus-square-fill"></i>  Crear</button>
    </div>
    <div class="col-4 offset-1">
        <a asp-action="Index" class="btn btn-primary form-control"><i class="bi bi-box-arrow-left"></i>  Regresar</a>
    </div>
</div>