﻿@model FactorajeCore.Web.Models.Dtos.CurrenciesDto

<div class="container border p-3">
    <h1 class="text-primary">Detalle Moneda</h1>
    <hr />

    <div class="row">
        <div class="col-2">
            <label asp-for="Number" class="control-label pt-2" style="font-size:20px;"></label>
        </div>
        <div class="col-10 pb-3">
            <input asp-for="Number" disabled class="form-control" />
        </div>

        <div class="col-2">
            <label asp-for="Code" class="control-label pt-2" style="font-size:20px;"></label>
        </div>
        <div class="col-10 pb-3">
            <input asp-for="Code" disabled class="form-control" />
        </div>

        <div class="col-2">
            <label asp-for="Description" class="control-label pt-2" style="font-size:20px;"></label>
        </div>
        <div class="col-10 pb-3">
            <input asp-for="Description" disabled class="form-control" />
        </div>

        <div class="col-2">
            <label asp-for="Symbol" class="control-label pt-2" style="font-size:20px;"></label>
        </div>
        <div class="col-10 pb-3">
            <input asp-for="Symbol" disabled class="form-control" />
        </div>


        <div class="col-5 offset-2">
            <a asp-controller="Currency" asp-action="Index" class="btn-primary btn form-control "><i class="bi bi-box-arrow-left"></i> Regresar al Listado</a>
        </div>
    </div>
</div>

