﻿@model IEnumerable<FactorajeCore.Web.Models.Dtos.CurrenciesDto>

<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Listado Monedas</h1>
        </div>
        <div class="col text-end pt-1">
            <a class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Crear Moneda</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>C&oacute;digo</th>
                <th>Nombre</th>
                <th>S&iacute;mbolo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Code</td>
                    <td>@item.Description</td>
                    <td>@item.Symbol</td>
                    <td>
                        <a asp-controller="Currency" asp-action="DetailCurrency" asp-route-code="@item.Code" class="btn btn-info"><i class="bi bi-file-text"></i></a>
                        <a asp-controller="Currency" asp-action="UpdateCurrency" asp-route-code="@item.Code" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>