﻿@model FactorajeCore.Web.Models.Dtos.CurrenciesDtoUpdate

<form asp-action="UpdateCurrency">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Actualizar Moneda</h1>
        <hr />
        <input hidden asp-for="Number" />

        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="Code" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Description" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Symbol" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Symbol" class="form-control" />
                <span asp-validation-for="Symbol" class="text-danger"></span>
            </div>


            <div class="col-5 offset-2">
                <a asp-controller="Currency" asp-action="Index" class="btn-primary btn form-control "><i class="bi bi-box-arrow-left"></i> Regresar al Listado</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Actualizar" class="btn btn-success form-control" />
            </div>

        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
